
body {
    background-color:beige;
    margin-top: 2em;
}

body.mal {
    background-color:rgb(251, 153, 153);
}

body.bien {
    background-color:green;
}

input[type=number] {
    background-color: rgb(241, 198, 241);
    font-size: 100px;
    width: 70px;
}

img {
   position: absolute; 
   visibility: hidden;
}

img.visible {
    visibility: visible;
}

.columna {
    width: 25%;
    height: 75%;
    margin-left: 5%;
    float: left;
}

.columna .numero {    
    border-width: 1px;
    border-color: black;
    border-style: solid;
  
    height: 300px;
    padding-top: 200px;

    text-align: center;
    vertical-align: bottom;

    font-size: x-large;
}


.columna .etiqueta {
    border-width: 1px;
    border-color: black;
    border-style: solid;

    margin-top: 1em;
    height: 40px;

    text-align: center;
    vertical-align: middle;

    font-size: x-large;
    font-weight: bolder;
}
