
body {
    background-color:white;
    margin-top: 2em;
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif
}

/*
body.mal {
    background-color:rgb(231, 71, 71);
}

body.bien {
    background-color:rgb(130, 203, 130);
}
*/

input[type=number] {
    background-color: transparent;
    border-style: none;
    font-size: 100px;
    width: 70px;
}

img {
   position: absolute; 
   visibility: hidden;
}

img.visible {
    visibility: visible;
}

.columna {
    width: 25%;
    height: 75%;
    margin-left: 5%;
    float: left;
}

.columna div {
    border-width: 1px;
    border-color: black;
    border-style: solid;

    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 20px;
}

.columna .numero {    
    padding-top: 200px;
    height: 300px;
}

.columna .etiqueta {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom : 0.5em;
    height: 40px;
}